<table id="translations">
  <tr>
    <th><%= t(:key) %></th>
    <% @translations.keys.group_by{|e| language(e)}.each do |key,value| %>
      <th><%= t(key) %></th>
    <% end %>
  </tr>
  <% @translations.keys.each do |key| %>
    <tr>
      <td><%= anti_language(key) %></td>
    <% @translations.keys.group_by{|e| language(e)}.each do |language,value| %>
      <td><%= link_to translate_or_skip(anti_language(key),language,'-'), key: key_value(key), value: translate_or_skip(anti_language(key),language,nil), locale: switch_locale_on_prefix(key,language) %></td>
    <% end %>
    </tr>
  <% end %>
</table>
