/* line 2, ../../app/assets/stylesheets/books.css.sass */
div#book div#image {
  width: 300px;
}
/* line 4, ../../app/assets/stylesheets/books.css.sass */
div#book div#image img {
  display: block;
  height: 250px;
  margin: auto;
}
/* line 10, ../../app/assets/stylesheets/books.css.sass */
div#book div#content div#category span.content {
  font-style: italic;
}
/* line 12, ../../app/assets/stylesheets/books.css.sass */
div#book div#content div#summary {
  font-style: italic;
}

/* line 16, ../../app/assets/stylesheets/books.css.sass */
form#book div.book {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 21, ../../app/assets/stylesheets/books.css.sass */
form#book li#book_regular_price_input p.inline-hints {
  margin-top: 4px;
}
/* line 23, ../../app/assets/stylesheets/books.css.sass */
form#book li#book_regular_price_input p.inline-errors {
  width: 100%;
}

/* line 27, ../../app/assets/stylesheets/books.css.sass */
div#books div.book {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 31, ../../app/assets/stylesheets/books.css.sass */
div#books div.book div#image {
  width: 170px;
}
/* line 33, ../../app/assets/stylesheets/books.css.sass */
div#books div.book div#image img {
  height: 150px;
  display: block;
  margin: auto;
}
/* line 39, ../../app/assets/stylesheets/books.css.sass */
div#books div.book div#content div#title span.title {
  font-size: 18px;
  font-weight: bold;
}
/* line 43, ../../app/assets/stylesheets/books.css.sass */
div#books div.book div#content div#categories span.content {
  font-style: italic;
}
/* line 45, ../../app/assets/stylesheets/books.css.sass */
div#books div.book div#content div#actions {
  font-size: 12px;
}
