/* line 2, ../../app/assets/stylesheets/carts.css.sass */
form.edit_cart div#total {
  width: 175px;
  border-top: 2px dashed black;
  padding-top: 5px;
}
/* line 8, ../../app/assets/stylesheets/carts.css.sass */
form.edit_cart div.line_item div#image {
  width: 100px;
}
/* line 10, ../../app/assets/stylesheets/carts.css.sass */
form.edit_cart div.line_item div#image img {
  height: 80px;
  display: block;
  margin: auto;
}
/* line 14, ../../app/assets/stylesheets/carts.css.sass */
form.edit_cart div.line_item div#content {
  width: 100%;
}
/* line 17, ../../app/assets/stylesheets/carts.css.sass */
form.edit_cart div.line_item div#content div#title span.title {
  font-size: 18px;
  font-weight: bold;
}
/* line 21, ../../app/assets/stylesheets/carts.css.sass */
form.edit_cart div.line_item div#content div#categories span.content {
  font-style: italic;
}
/* line 23, ../../app/assets/stylesheets/carts.css.sass */
form.edit_cart div.line_item div#expenses {
  width: 190px;
}
