/*
NoMethodError: You have a nil object when you didn't expect it!
You might have expected an instance of Array.
The error occurred while evaluating nil.[]

Backtrace:
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-rails-3.1.5/lib/sass/rails/helpers.rb:40:in `resolver'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-rails-3.1.5/lib/sass/rails/helpers.rb:25:in `image_url'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/script/funcall.rb:88:in `_perform'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/script/node.rb:40:in `perform'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:242:in `visit_variable'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:146:in `map'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `each'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.12/lib/sass/plugin/rack.rb:51:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/etag.rb:23:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/conditionalget.rb:25:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:195:in `context'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:190:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.1.0/lib/active_record/query_cache.rb:62:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.1.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/sendfile.rb:101:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/railties-3.1.0/lib/rails/rack/logger.rb:13:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/methodoverride.rb:24:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/runtime.rb:17:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.1.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/lock.rb:15:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.1.0/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/railties-3.1.0/lib/rails/engine.rb:455:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/urlmap.rb:52:in `block in call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/urlmap.rb:46:in `each'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-1.3.6/lib/rack/urlmap.rb:46:in `call'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-test-0.6.1/lib/rack/mock_session.rb:30:in `request'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-test-0.6.1/lib/rack/test.rb:219:in `process_request'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rack-test-0.6.1/lib/rack/test.rb:57:in `get'
/Users/johan/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/forwardable.rb:182:in `get'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/capybara-1.1.2/lib/capybara/rack_test/browser.rb:62:in `process'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/capybara-1.1.2/lib/capybara/rack_test/browser.rb:21:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/capybara-1.1.2/lib/capybara/rack_test/driver.rb:32:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/capybara-1.1.2/lib/capybara/session.rb:157:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/capybara-1.1.2/lib/capybara/dsl.rb:161:in `visit'
/Users/johan/apps/karoon/spec/support/session.rb:2:in `login'
/Users/johan/apps/karoon/spec/requests/authors_edit_spec.rb:7:in `block (3 levels) in <top (required)>'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/hooks.rb:35:in `instance_eval'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/hooks.rb:35:in `run_in'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/hooks.rb:70:in `block in run_all'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/hooks.rb:70:in `each'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/hooks.rb:70:in `run_all'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/hooks.rb:116:in `run_hook'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:233:in `block in run_before_each_hooks'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:233:in `each'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:233:in `run_before_each_hooks'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example.rb:148:in `run_before_each'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example.rb:50:in `block in run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example.rb:110:in `with_around_hooks'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example.rb:48:in `run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:306:in `block in run_examples'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:302:in `map'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:302:in `run_examples'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:274:in `run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:275:in `block in run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:275:in `map'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/example_group.rb:275:in `run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/command_line.rb:24:in `block (2 levels) in run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/command_line.rb:24:in `map'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/command_line.rb:24:in `block in run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/reporter.rb:12:in `report'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/core/command_line.rb:21:in `run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/rspec-core-2.7.1/lib/rspec/monkey/spork/test_framework/rspec.rb:5:in `run_tests'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/spork-0.9.0.rc9/lib/spork/run_strategy/forking.rb:13:in `block in run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/spork-0.9.0.rc9/lib/spork/forker.rb:21:in `block in initialize'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/spork-0.9.0.rc9/lib/spork/forker.rb:18:in `fork'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/spork-0.9.0.rc9/lib/spork/forker.rb:18:in `initialize'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/spork-0.9.0.rc9/lib/spork/run_strategy/forking.rb:9:in `new'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/spork-0.9.0.rc9/lib/spork/run_strategy/forking.rb:9:in `run'
/Users/johan/.rvm/gems/ruby-1.9.2-head/gems/spork-0.9.0.rc9/lib/spork/server.rb:48:in `run'
/Users/johan/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/drb/drb.rb:1558:in `perform_without_block'
/Users/johan/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/drb/drb.rb:1518:in `perform'
/Users/johan/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/drb/drb.rb:1592:in `block (2 levels) in main_loop'
/Users/johan/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/drb/drb.rb:1588:in `loop'
/Users/johan/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/drb/drb.rb:1588:in `block in main_loop'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "NoMethodError: You have a nil object when you didn't expect it!\A You might have expected an instance of Array.\A The error occurred while evaluating nil.[]"; }
