/* line 1, ../../app/assets/stylesheets/layout_ir.css.sass */
body {
  text-align: right;
  direction: rtl;
}

/* line 5, ../../app/assets/stylesheets/layout_ir.css.sass */
input.submit {
  margin-right: 5px;
}

/* line 8, ../../app/assets/stylesheets/layout_ir.css.sass */
ul.nested_category {
  margin-left: 10px;
}

/* line 11, ../../app/assets/stylesheets/layout_ir.css.sass */
div#top_container {
  padding-right: 200px;
}
/* line 13, ../../app/assets/stylesheets/layout_ir.css.sass */
div#top_container div#image_container {
  float: right;
  margin-right: -200px;
}
/* line 16, ../../app/assets/stylesheets/layout_ir.css.sass */
div#top_container div#image_container img {
  float: right;
}

/* line 20, ../../app/assets/stylesheets/layout_ir.css.sass */
div#flash_container div#flash_notice {
  float: right;
}
/* line 22, ../../app/assets/stylesheets/layout_ir.css.sass */
div#flash_container div#flash_alert {
  float: right;
}
/* line 24, ../../app/assets/stylesheets/layout_ir.css.sass */
div#flash_container div#user_nav {
  float: left;
  text-align: left;
}
/* line 27, ../../app/assets/stylesheets/layout_ir.css.sass */
div#flash_container div#user_nav div#my_cart {
  float: left;
}

/* line 32, ../../app/assets/stylesheets/layout_ir.css.sass */
div#search_bar form div#form {
  padding-right: 55px;
  padding-left: 500px;
}
/* line 35, ../../app/assets/stylesheets/layout_ir.css.sass */
div#search_bar form div#form div#label {
  float: right;
  margin-right: -55px;
}
/* line 39, ../../app/assets/stylesheets/layout_ir.css.sass */
div#search_bar form div#form div#left_content input {
  float: right;
}
/* line 41, ../../app/assets/stylesheets/layout_ir.css.sass */
div#search_bar form div#form div#right_content {
  float: right;
  margin-left: -500px;
  margin-right: 10px;
}
/* line 45, ../../app/assets/stylesheets/layout_ir.css.sass */
div#search_bar form div#form div#right_content img {
  float: left;
}

/* line 48, ../../app/assets/stylesheets/layout_ir.css.sass */
div#mid_container {
  padding-right: 200px;
}
/* line 50, ../../app/assets/stylesheets/layout_ir.css.sass */
div#mid_container div#site_nav_container {
  float: right;
  margin-right: -200px;
}
/* line 53, ../../app/assets/stylesheets/layout_ir.css.sass */
div#mid_container div#site_nav_container div#site_nav {
  text-align: left;
  margin-left: 15px;
}
/* line 57, ../../app/assets/stylesheets/layout_ir.css.sass */
div#mid_container div#site_nav_container div#site_nav ul li.selected {
  margin-left: -5px;
  padding-left: 5px;
}
