/* line 1, ../../app/assets/stylesheets/layout_en.css.sass */
input.submit {
  margin-right: 5px;
}

/* line 4, ../../app/assets/stylesheets/layout_en.css.sass */
ul.nested_category {
  margin-right: 10px;
}

/* line 7, ../../app/assets/stylesheets/layout_en.css.sass */
div#top_container {
  padding-left: 200px;
}
/* line 9, ../../app/assets/stylesheets/layout_en.css.sass */
div#top_container div#image_container {
  float: left;
  margin-left: -200px;
}
/* line 12, ../../app/assets/stylesheets/layout_en.css.sass */
div#top_container div#image_container img {
  float: right;
}

/* line 16, ../../app/assets/stylesheets/layout_en.css.sass */
div#flash_container div#flash_notice {
  float: left;
}
/* line 18, ../../app/assets/stylesheets/layout_en.css.sass */
div#flash_container div#flash_alert {
  float: left;
}
/* line 20, ../../app/assets/stylesheets/layout_en.css.sass */
div#flash_container div#user_nav {
  float: right;
  text-align: right;
}
/* line 23, ../../app/assets/stylesheets/layout_en.css.sass */
div#flash_container div#user_nav div#my_cart {
  float: right;
}

/* line 28, ../../app/assets/stylesheets/layout_en.css.sass */
div#search_bar form div#form {
  padding-left: 55px;
  padding-right: 500px;
}
/* line 31, ../../app/assets/stylesheets/layout_en.css.sass */
div#search_bar form div#form div#label {
  float: left;
  margin-left: -55px;
}
/* line 35, ../../app/assets/stylesheets/layout_en.css.sass */
div#search_bar form div#form div#left_content input {
  float: left;
}
/* line 37, ../../app/assets/stylesheets/layout_en.css.sass */
div#search_bar form div#form div#right_content {
  float: left;
  margin-right: -500px;
}
/* line 40, ../../app/assets/stylesheets/layout_en.css.sass */
div#search_bar form div#form div#right_content img {
  float: right;
}

/* line 43, ../../app/assets/stylesheets/layout_en.css.sass */
div#mid_container {
  padding-left: 200px;
}
/* line 45, ../../app/assets/stylesheets/layout_en.css.sass */
div#mid_container div#site_nav_container {
  float: left;
  margin-left: -200px;
}
/* line 48, ../../app/assets/stylesheets/layout_en.css.sass */
div#mid_container div#site_nav_container div#site_nav {
  text-align: right;
  margin-right: 15px;
}
/* line 52, ../../app/assets/stylesheets/layout_en.css.sass */
div#mid_container div#site_nav_container div#site_nav ul li.selected {
  margin-right: -5px;
  padding-right: 5px;
}
