/* line 3, ../../app/assets/stylesheets/orders.css.sass */
div#line_items {
  border: 1px solid black;
  background: #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 7, ../../app/assets/stylesheets/orders.css.sass */
div#line_items div.line_item {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 10, ../../app/assets/stylesheets/orders.css.sass */
div#line_items div.line_item div#image {
  width: 90px;
}
/* line 12, ../../app/assets/stylesheets/orders.css.sass */
div#line_items div.line_item div#image img {
  display: block;
  margin: auto;
}
/* line 15, ../../app/assets/stylesheets/orders.css.sass */
div#line_items div.line_item div#info {
  width: 100%;
}
/* line 17, ../../app/assets/stylesheets/orders.css.sass */
div#line_items div.line_item div#price {
  width: 290px;
}
/* line 19, ../../app/assets/stylesheets/orders.css.sass */
div#line_items div#total {
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 2px dashed black;
}

/* line 25, ../../app/assets/stylesheets/orders.css.sass */
form#new_order {
  margin-top: 20px;
}

/* line 28, ../../app/assets/stylesheets/orders.css.sass */
div#order {
  padding: 5px 20px;
  border: 1px solid black;
  background: #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
