<%= title @author.name %>

<div id="books">
  <%= render @author.books %>
</div>

<div id="bottom_links">
  <%= link_to jt(:edit), edit_author_path(@author) if can? :edit, @author %> <%= link_to jt(:delete), @author, :confirm => sure?, :method => :delete if can? :destroy, @author %>
</div>
