<div id="line_items">
  <%= render :partial => 'orders/line_item', :collection => line_items %>

  <div id="total">
    <span class="label">
      <%= t(:total) %>:
    </span>
    <span class="content">
      <%= model.total_price(currency_in_riel?) %> <%= currency %>
    </span>
  </div>
  <div class="clear"></div>
</div>
