<% as = as || nil %>
<div id="categories">
  <div class="label">
    <%= pl(:category, book.categories_count) %>:
  </div>
  <div class="content">
    <%= link_to_categories book.categories, as:as %>
  </div>
</div>
