<% as = as || nil %>
<div id="categories">
  <span class="label">
    <%= pl(:category, book.categories_count) %>:
  </span>
  <span class="content">
    <%= link_to_categories book.categories, as:as %>
  </span>
</div>
