<%= title t(:book,count:2) %>

<div id="top_links">
  <%= link_to new(:book), new_book_path if can? :new, Book %>
</div>

<div id="books">
  <%= render @books %>
</div>

<div id="bottom_links">
  <%= link_to new(:book), new_book_path if can? :new, Book %>
</div>
