div#book
  padding-left: 300px
  div#image
    width: 300px
    margin-left: -300px
    float: left
    img
      display: block
      height: 250px
      margin: auto
  div#content
    div#category
      span.content
        font-style: italic
    div#summary
      font-style: italic

form#book
  div.book
    border-bottom: 1px solid #aaa
    margin-bottom: 20px
    padding-bottom: 20px

div#books
  div.book
    border-bottom: 1px solid #aaa
    margin-bottom: 20px
    padding: 0 0 20px 170px
    div#image
      float: left
      width: 170px
      margin-left: -170px
      img
        height: 150px 
        display: block
        margin: auto
    div#content
      div#title
        span.title
          font-size: 18px
          font-weight: bold
      div#categories
        span.content
          font-style: italic
      div#summary
        font-style: italic
      div#actions
        font-size: 12px
