form.edit_cart
  div#total
    width: 175px
    border-top: 2px dashed black
    padding-top: 5px

  div.line_item
    div#image
      width: 100px
      img
        height: 80px
        display: block
        margin: auto
    div#content
      width: 100%
      div#title
        span.title
          font-size: 18px
          font-weight: bold
      div#categories
        span.content
          font-style: italic
    div#expenses
      width: 190px
