@import "compass/css3/border-radius"

div#line_items
  border: 1px solid black
  background: #eee
  +border-radius(10px)
  div.line_item
    padding: 5px 300px 5px 100px
    div#image
      float: left
      width: 90px
      margin-left: -100px
      img
        display: block
        margin: auto
    div#info
      float: left
      width: 100%
    div#price
      float: left
      width: 290px
      margin-right: -300px
  div#total
    float: right
    width: 250px
    padding: 5px 0 5px 0
    border-top: 2px dashed black
    margin-right: 50px

form#new_order
  margin-top: 20px

div#order
  padding: 5px 20px
  border: 1px solid black
  background: #eee
  +border-radius(10px)
  margin: 10px 0
