<%= title t(:category,count:2) %>

<div id="categories">
  <%= nested_categories @categories %>
</div>

<div id="bottom_links">
  <%= link_to new(:category), new_category_path if can? :new, Category %>
</div>
