<%= title @category.translated_name(get_language) %>

<div id="books">
  <%= render @category.books %>
</div>

<div id="bottom_links">
  <%= link_to jt(:edit), edit_category_path(@category) if can? :edit, @category %> <%= link_to jt(:delete), @category, :confirm => sure?, :method => :delete if can? :destroy, @category %>
</div>
