<div id="search_bar">
  <%= semantic_form_for @new_search do |f| %>
    <%= f.input :keywords, :label => ft(:search) %>
    <%= f.input :category, :label => false, :collection => Category.order(:names_depth_cache).map{|e| [e.names_depth_cache,e.id]}, :prompt => t(:books) %>
    <%= f.submit t(:go) %>
  <% end %>
</div>
